<!DOCTYPE html>
<html>
<head>
    <title>recon_rocks</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Khula" rel="stylesheet">
    <link href='static/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body style="background-color: #000000;">
  <h1 class="main_h">recon_rocks</h1>
  <p class="description_p">enter the website you want to perform <br />
    domain reconnaissance on</p>
  <center>
    <div class="urlInformation">
      <form class="urlForm" action="/generate" method="POST">
        <span class="prompt_s">$ </span><input type="text" name="urlToTest" class="urlText">
      </form>
    </div>
  <div class="goBtn">
    Go!
  </div>
</center>
</body>
</html>
