<!DOCTYPE html>
<html>
<head>
    <title>recon_rocks</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Khula|Roboto+Mono" rel="stylesheet">
    <link href='../static/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body style="background-color: #000000;">
  <p class="main_h">recon_rocks</p>
  <p class="description_p">enter the website you want to perform <br />
    domain reconnaissance on</p>
  <center>
    <div class="urlInformation">
      <form class="urlForm" action="/generate" method="POST">
        <span class="prompt_s">$ </span><input type="text" name="urlToTest" class="urlText">
    </div>
  <input type="submit" class="goBtn" name="Go!">
  </form>
</center>
</body>
</html>
